#work_body {
    background-color: white;
    margin: 0;
    overflow-x: hidden;
}

#work_header {
    position:fixed;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    box-sizing: border-box;
    padding: 5vh 60px;
}

#menu_button, #close_menu_button {
    cursor: pointer;
}

#menu_overlay {
    position: fixed;
    z-index: 1;
    display: flex;
    box-sizing: border-box;
    top: -100vh;
    width: 100vw;
    height: 100vh;
    padding: 5vh;
    background-color: #ff1f00;
    transition: top 0.5s ease-in-out;
}

#menu_overlay.active {
    top: 0;
}

#menu_header{
    display: flex;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
}

#page_overlay {
    position: fixed;
    bottom: -100vh; /* Começa fora da tela */
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white; /* Ajuste conforme necessário */
    transition: bottom 0.5s ease-in-out;
    overflow-y: auto; /* Permite rolagem do conteúdo */
    display: none; /* Escondido até ser necessário */
}

#page_overlay.active {
    bottom: 0; /* Move para cima, cobrindo a tela */
}

/* Animação para voltar */
#page_overlay:not(.active) {
    bottom: -100vh; /* Retorna para a posição inicial */
}


    

#work_main {
    padding-top: 300px;  
}

.cards_container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px 40px;
    padding: 0 40px;
    justify-content: center;

}

.card {
    width: calc(50% - 40px);
    height: calc(50vh - 40px);
    background-image: url(/images/case-claro.png);
    background-size:cover;
    box-sizing: border-box;
    border-radius: 0.8vw;
}





#work_footer {
    padding: 200px 0;
}
