#case_body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
}

#case_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    padding: 4.5vh 50px;
}

#backToWork {
    cursor: pointer;
}

#case_main{
    padding: 3%;
    text-align: justify;
}