/* Estilos adicionados ao projeto */

html, body{
    background-color: #000000;
  }
  
  ::-webkit-scrollbar {
      width: 5px;
  }
  
  ::-webkit-scrollbar-track {
      background: #242424;
  }
  
  ::-webkit-scrollbar-thumb {
      background: #FFFFFF;
      border-radius: 30px;
  }