
#page_menu__main{
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff1f00;
    display: block;
    transition: top 0.7s ease-in-out;
}


#page_menu__footer{
    padding: 5vh;
    height: 600px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10vh;
    gap: 1rem;
    box-sizing: border-box;
}

.menu_item{
    gap: 1.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.menu_item_text{
    border-bottom: solid 7px black;
}
