/*********** GLOBAL ***********/


@font-face {
    font-family: 'LinikSans';
    src: url('/images/fonts/LinikSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('/images/fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-family: 'Sans-Titre';
    src: url('/images/fonts/Sans-Titre-Pro.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}

.header {
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 18vh;
    padding: 0 3vw;
}

.main {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 20vh 2vw;
    z-index: 1;
    text-align: justify;
}





/*********** HOME ***********/
#index_main {
    background-image: url(/images/home_background.png);
    background-size: cover;
}





/*********** MENU ***********/
#menu_main {
    padding: 0;
    background-color: #ff1f00;
    transition: top 0.7s ease-in-out;

    #menu_footer {
        padding: 5vh;
        position: absolute;
        bottom: 0;
        padding-bottom: 10vh;
        box-sizing: border-box;

        .menu_item {
            font-size: 3.5rem;
            font-weight: 600;
            line-height: 5.5rem;
            color: black;
            cursor: pointer;

            .menu_item_text {
                border-bottom: solid 7px black
            }
        }
    }
}





/*********** WORK ***********/
.work_cards_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    padding: 5vh 2vw;

    .card_link {
        display: flex;
        height: calc(50vh - 40px);
        background-image: url(/images/case-claro.png);
        background-size: cover;
        border-radius: 1rem;
        cursor: pointer;
    }

    .card_description {
        font-size: 2.2rem;
    }
}





/*********** CASES ***********/
.title {
    font-size: 4rem;
}





/*********** AI APPROACH ***********/
#ai_body {
    background-color: black;
    font-family: 'LinikSans', sans-serif;
    color: white;
}

.cover {
    width: 94vw;
    padding: 10vh 1vw;
    border-bottom: 1px solid gray;
    line-height: 1vh;
    font-size: 4.1vw;
    font-family: 'Sans-Titre';
}

.secao-stick {
    margin: 15vh 0;
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 0 23.5vw;
    border-bottom: 1px solid white;
}

.numero-ai-approach-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    z-index: 500;
    transition: transform 1s ease;
    opacity: 1;
}

.numero-ai-approach-wrapper.hide {
    transform: translateY(-100vh);
    display: none;
}

.content-ai-approach-wrapper {
    display: flex;
    margin-bottom: 15rem;
    padding-top: 10vh;
    gap: 2vw;
}

.sticker {
    font-family: 'Arial Narrow', sans-serif;
    font-weight: 500;
    font-size: 1.8vw;
    line-height: 3rem;
    position: fixed;
    align-self: start;
    left: 3vw;
    transform: translateY(100vh);
    transition: transform 0.4s ease, opacity 0.6s ease-in-out;
    opacity: 0;
    z-index: 500;
}

.sticker.visible {
    transform: translateY(0);
    opacity: 1;
}

.content-ai-approach {
    display: flex;
    flex-direction: column;
}

.content_top {
    display: grid;
    grid-template-columns: 1.04fr 1fr;
    padding-bottom: 15vh;
}

.img-ai-approach-wrapper {
    font-size: 2.5vw;
    margin: 0;
}

.content-02 {
    font-size: 1.25vw;
    text-align: left;
}

.footer {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 10vh 1vw 5vh 1vw;
    background-color: black;
    height: 100vh;
    box-sizing: border-box;
    font-size: 3vw;
    line-height: 1vh;
    z-index: 50;
}


/*********** OTHERS ***********/
.text_cover {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}