body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}

.button { 
    cursor: pointer;
    width: 80px;
    height: 80px;
}

.default_header {
    position:fixed;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 18vh;
    padding-left: 3vw;
    padding-right: 3vw;
    box-sizing: border-box;
}

.default_main{
    z-index: 1;
    width: 100vw;
    height: 100vh;
    padding: 20vh 2vw;
    text-align: justify;
    box-sizing: border-box;
}

.text_cover{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}

.title{
    font-size: 4rem;
}

#case_main{
    height: 100vh;
    position: fixed;
    z-index: 20;
    overflow: auto; 
    background-color: #ffffff;
    display: flex;
}

.page_case__content {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    padding: 20vh 2vw;
    text-align: justify;
    box-sizing: border-box;
}