/*********** GLOBAL ***********/

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}

.header {
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 18vh;
    padding: 0 3vw;
}

.main{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 20vh 2vw;
    z-index: 1;
    text-align: justify;
}





/*********** HOME ***********/
#index_main{
    background-image: url(/images/home_background.png);
    background-size: cover;
}





/*********** MENU ***********/
#menu_main{
    padding: 0;
    background-color: #ff1f00;
    transition: top 0.7s ease-in-out;

    #menu_footer{
        padding: 5vh;
        position: absolute;
        bottom: 0;
        padding-bottom: 10vh;
        box-sizing: border-box;
    
        .menu_item{
            font-size: 3.5rem;
            font-weight: 600;
            line-height: 5.5rem;
            color: black;
            cursor: pointer;
    
            .menu_item_text { 
                border-bottom: solid 7px black 
            }
        }
    }
}





/*********** WORK ***********/
.work_cards_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    padding: 5vh 2vw;

    .card_link {
        display: flex;
        height: calc(50vh - 40px);
        background-image: url(/images/case-claro.png);
        background-size:cover;
        border-radius: 1rem;
        cursor: pointer;
    }
    
    .card_description{
        font-size: 2.2rem;
    }
}





/*********** CASES ***********/
.title{
    font-size: 4rem;
}





/*********** AI APPROACH ***********/
#ai_body{
    background-color: black;
    color: white;

    .cover{
        width: 94vw;
        padding: 10vh 1vw;
        border-bottom: 1px solid gray;
        line-height: 1vh;
        font-size: 4vw; 
        font-family: 'Roboto Flex', sans-serif;
        font-stretch: 140%;    
    }

    .content{
        height: 200vh;
        margin: 15vh 0;
        background-color: rgb(46, 46, 46);
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10vh 1vw 5vh 1vw;
        border-top: 1px solid white;
        height: 100vh;
        font-size: 3vw;
        line-height: 1vh;
    }
}





/*********** OTHERS ***********/
.text_cover{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}