
#page_ai__header {
    position:fixed;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 18vh;
    padding-left: 3vw;
    padding-right: 3vw;
    box-sizing: border-box;
}

#page_ai__main{
    z-index: 1;
    width: 100vw;
    height: 100vh;
    padding: 20vh 2vw;
    text-align: justify;
    box-sizing: border-box;
}

.text_cover{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}