body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}

#page_behind{
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #ffffff;
    transition: background-color 0.4s ease-in-out, filter 0.4s ease-in-out;
    display: none;
}

#menu_main{
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff1f00;
    display: block;
    transition: top 0.7s ease-in-out;
}

header {
    position:fixed;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 18vh;
    padding-left: 3vw;
    padding-right: 3vw;
    box-sizing: border-box;
}

.button { 
    cursor: pointer;
    width: 80px;
    height: 80px;
}

.menu_footer{
    padding: 5vh;
    height: 600px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10vh;
    gap: 1rem;
    box-sizing: border-box;
}

.menu_item{
    gap: 1.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.menu_item_text{
    border-bottom: solid 7px black;
}
