#menu_background{
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #ffffff;
    transition: background-color 0.4s ease-in-out, filter 0.4s ease-in-out;
    
    display: none;
}


#menu_main{
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff1f00;
    display: block;
    transition: top 0.7s ease-out;
}

#menu_main.hide { top: -100vh;}




#page_behind{
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    background-color: #ffffff;
}

#case_main{
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #ffffff;
    position: absolute;
}


#page_overlay {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: none;

    bottom: 0;
    background-color: white;
    transition: bottom 0.5s ease-in-out;
}
#page_overlay.active { bottom: 0; visibility: visible; }





main {
    transition: background-color 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.dimmer {
    transition: background-color 0.4s ease-in-out, filter 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    filter: brightness(0.2);
}


