
.work_cards_container {
    display: grid;
    z-index: 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    padding: 5% 0;
    box-sizing: border-box;
}

.card_link {
    display: flex;
    flex-direction: column;
    height: calc(50vh - 40px);
    background-image: url(/images/case-claro.png);
    background-size:cover;
    border-radius: 1rem;
    cursor: pointer;
}

.card_description{
    width: 100%;
    margin-top: 0;
    font-size: 2.2rem;
    font-family: Arial;
    font-weight: lighter;
}